<div class="list scrollbar-green">
  <div class="card loading" *ngIf="isLoading">
    <fa-icon [icon]="iconLoading"></fa-icon>
  </div>

  <ng-container *ngIf="!isLoading">
    <app-banner
      [bannerImageUrl]="bannerImagUrl"
      [bannerTitle]="bannerTitle"
    ></app-banner>

    <div class="title-bg mt-7">
      {{ "musics-playlist" | translate }} {{ title }}
    </div>

    <app-table-songs [listMusics]="musics"></app-table-songs>
  </ng-container>
</div>

<app-panel-right class="panel-right"></app-panel-right>
